.wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  background-color: none;
}

.wrap h1 {
  position: relative;
  font-weight: bold;
  line-height: 92px;
  font-size: 34px;
  color: #121412;
  z-index: 1;
}

.wrap p {
  position: relative;
  line-height: 30px;
  font-size: 20px;
  color: #1E1A1A;
  z-index: 1;
}

.mockup {
  display: none;
  position: absolute;
  background-size: cover;
}

.main {
  position: relative;
  width: 1440px;
  height: 724px;
}

.material-icons.md400 {
  position: absolute;
  font-size: 800px;
  pointer-events: none;
  opacity: 0.19;
}

.text {
  position: absolute;
  width: auto;
  margin: 80px;
}

.company {
  background-color: whitesmoke;
}

.company span {
  font-size: 21px;
  color: black;
}

.c {
  position: absolute;
  top: 108px;
  left: 1000px;
}

.c .mail, .c .tel1::before, .c .tel2::before {
  color: black;
}

.c .mail {
  top: 16px;
  left: -50px;
}

.c .tel1 {
  left: -46px;
  top: 91px;
}

.c .tel2 {
  left: -46px;
  top: 170px;
}

.c p {
  font-size: 27px;
  line-height: 80px;
}

.text.company {
  position: relative;
  top: 290px;
  text-align: center;
}

.logo {
  position: absolute;
  top: 31px;
  left: 65px;
  width: 644px;
  height: 307px;
  background-size: cover;
  background-image: url(../images/logty.svg);
}

.client {
  background-color: aliceblue;
  height: 970px;
}

.client h1 {
  font-size: 32px;
}

.client p {
  font-size: 18px;
}

.bold {
  font-weight: 600;
  font-size: 20px;
}

.text.client {
  width: 480px;
  margin: 69px;
}

.text.right {
  width: 480px;
  top: 120px;
  left: 820px;
}

.sem {
  position: absolute;
  top: 153px;
  left: 534px;
  width: 370px;
  height: 715px;
  background-size: cover;
  background-image: url(../images/sem.svg);
}

.tv {
  background-color: #FFF8EB;
}

.tv .material-icons.md400 {
  top: -33px;
  right: 140px;
  color: burlywood;
}

.vid {
  background-color: #EBFEFF;
}

.text.vid, .text.el {
  left: 460px;
}

.vid .material-icons.md400 {
  top: -230px;
  left: -66px;
  font-size: 1172px;
  color: powderblue;
  opacity: .32;
}

.dom {
  background-color: #FFDFD2;
}

.dom .material-icons.md400 {
  bottom: -14px;
  right: 66px;
  color: lightsalmon;
}

.signal {
  background-color: #FCC5C5;
}

.signal .material-icons.md400 {
  font-size: 850px;
  top: -69px;
  right: 137px;
  color: indianred;
  opacity: .12;
}

.telef {
  background-color: #EBFFEC;
}

.telef .material-icons.md400 {
  top: -33px;
  right: 150px;
  color: lightgreen;
}

.el {
  background-color: #FCECD4;
}

.el .material-icons.md400 {
  font-size: 769px;
  top: -21px;
  left: -114px;
  color: khaki;
  opacity: .3;
}

.cont {
  background-color: whitesmoke;
}

.conttext {
  position: absolute;
  margin: 69px;
  width: 80vw;
}

.conttext p {
  position: absolute;
  left: 30px;
}

.map iframe {
  width: 1020px;
  height: 584px;
  pointer-events: none;
}

.map {
  background: transparent;
  position: absolute;
  width: 723px;
  height: 496px;
  top: 111px;
  right: 350px;
}

.conttext .mail {
  position: absolute;
  padding: 15px;
  top: 82px;
  left: -13px;
  font-size: 21px;
}

.conttext .mail::before {
  display: block;
  text-align: center;
  font-family: FontAwesome;
  content: '\f0e0';
  color: black;
}

.conttext .tel1 {
  position: absolute;
  padding: 15px;
  top: 104px;
  left: -9px;
}

.conttext .tel2 {
  position: absolute;
  padding: 15px;
  top: 135px;
  left: -9px;
}

.conttext .tel1::before, .conttext .tel2::before {
  display: block;
  text-align: center;
  font-family: FontAwesome;
  font-size: 30px;
  content: '\f10b';
  color: black;
}

.home {
  position: absolute;
  padding: 15px;
  top: 168px;
  left: -15px;
}

.home::before {
  display: block;
  text-align: center;
  font-family: FontAwesome;
  font-size: 27px;
  content: '\f015';
  color: black;
}

@media screen and (max-width: 1460px) {
  .wrap {
    width: 100%
  }
}
