.sidebar {
  position: fixed;
  display: inline-block;
  top: 264px;
  right: 0;
  opacity: .9;
  -webkit-transition: all .5s ease;
  transition: all .1s ease;
  z-index: 2;
}

.sidebar:hover {
  opacity: 1;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 18px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.2);
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #141313;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px
}

.dropdown-content a {
  font-size: 18px;
  color: black;
  padding: 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F4F4F4;
  border-radius: 4px;
}

.show {display:block;}
